@import '../../style/helpers.css';

.home {
	padding: 0 20px;
	min-height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	&::before {
		content: '';
		display: block;
		position: absolute;
		background: url('../../assets/bg.jpg');
		background-position: 100% 0;
		background-size: cover;
		min-height: 100%;
		width: 100%;
		left: 0;
		filter: grayscale(.5) blur(1px) contrast(1.4);
	}

	& .logo {
		 max-width: 100%;
	}

	& .event {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		max-width: 80%;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
		background: #fff;
		max-width: 450px;
		padding: 16px;
		border-radius: 2px;
	}

	& .newEvent {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		min-width: 80%;
		margin-top: 8px;
	}

	@media(max-width: 480px) {
		& .newEvent {
			width: 100%;
		}
	}

	& .details {
		display: flex;
		margin-top: 8px;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}
