@import './helpers.css';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app,
#root {
	height: 100%;
	width: 100%;
}

time {
	color: #474d56;
	font-size: 12px;
	font-weight: bold;
	margin-top: 4px;
}

h1 {
	font-size: 22px;
	color: #5e93ad;
}

@media(max-width: 480px) {
	h1 {
		font-size: 18px;
	}
}

a {
	color: #154B9C;
	text-decoration: none;
	transition: color .2s ease-out;
}

a:hover {
	color: #3e6aad;
}
